.taskRow {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;

  & input {
    width: 2rem;
    aspect-ratio: 1/1;
    cursor: pointer;
  }
  & .taskName {
    flex: 1;
    &.taskDone {
      text-decoration: line-through;
      opacity: 0.5;
    }
  }

  & .taskActions {
    display: flex;
    gap: 1rem;
  }
}
